/* 清除外边距 */
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 16px;
    color: #1d428a;
}
a:hover {
    color:#0091da;
    cursor: pointer;
}
h2 {
    font-size: 33px;
    font-weight: 200;
    color: #565656;
}
p {
    font-size: 16px;
    color: #565656;
    line-height: 22px;
}
button{
    height: 32px;
    background-color: #fff;
    color: #1D428A;
    border: 1px solid #1D428A;
    border-radius: 4px;
}
button:hover{
    background-color: #1D428A;
    color: #fff;
    cursor: pointer;
}
/* 版心 */
.w {
    width: 1165px;
    margin: 0 auto;
}
/* header start */
header {
    height: 115px;
}
.top-header {
    height: 26px;
    margin: 24px 0;
    padding: 0;
    width: 100%;
}
.hdr-left {
    float: left;
}
.hdr-right {
    float: right;
}
.hdr-right li {
    float: left;
}
.hdr-right .ic-icon {
    background: url("../images/nav-img/icons.png") no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    margin:5px 8px;
}
.hdr-right li:nth-child(2) .ic-icon{
    background-position: -28px 0;
}
.hdr-right li:nth-child(4) .ic-icon{
    background-position: -60px 0;
}
.hdr-right li:nth-child(3){
    padding-right: 20px;
}
.hdr-right li:last-child{
    margin-left: 10px;
}
.hdr-right li a{
    height: 26px;
    line-height: 26px;
}
.hdr-right .space {
    display: inline-block;
    height: 14px;
    width: 1px;
    margin: 7px 15px;
    background-color: #1e428a;;
}
/* header下半部分 */
.bottom-header li{
    float: left;
}
.bottom-header li a{
    color: #000;
    font-size: 16px;
    padding: 15px 20px 13px;
}
.bottom-header li:first-child a{
    margin-left: 0;
    padding-left: 0;
}
.bottom-header li a:hover{
    color:#24845C ;

}
/* header线 */
.gradient-hr img{
    margin-top: 15px;
}
/* header end */

/* banner 部分 start */
.banner{
    position: relative;
}
.banner img{
    margin-top: -24px;
    display: block;

}
.banner-content {
    position: absolute;
    top:0;
    padding: 90px 0;
    left: 55px;
    height: 331px;
    box-sizing: border-box;
}
.banner h2{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 15px;
    font-family: "SimHei";
    font-weight: 150;
    color: #565656;
}
.banner p{
    margin-bottom: 40px;
    font-weight: 200px;
}
.banner button{
    background-color: #1D428A;
    width: 106px;
    height: 29px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    line-height: 29px;
    margin-top: 5px;
}
.banner button:hover{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #1D428A;
    color: #1D428A;
}
/* banner 部分  end */

/* 优先任务 start */
.first-target {
    height: 117px;
    background-color: #f7f7f7;
    color: #565656;
    padding: 25px 50px;
    box-sizing: border-box;
    line-height: 67px;
    
}
.first-target p{
    font-size: 26px;
    font-weight: 200;
    float: left;
    width: 279px;

}
.first-target ul{
    float: right;
    width: calc(100% - 279px);
    
}
.first-target ul li{
    float: left;
    width: 20%;
    height: 67px;
    padding: 0 10px 0 2px;
    box-sizing: border-box;
    text-align: center; 
    position: relative;
}
.first-target li a{
    display: block;
    
}
.first-target li img {
    width: 75px;
    height: 45px;
}
.first-target li span{
    font-size: 16px;
    position: absolute;
    left: -2px;
    height: 22px;
    width: 100%;
    bottom: 22px;
}
/* 优先任务 end */

/*  CEO资讯 start  */
.col-mid{
    height: 455px;
    margin: 50px 0 0 0;
    box-sizing: border-box;
}
.col-mid .fl {
    float: left;
    width: 572px;
}
.col-mid h2{
    margin-bottom: 36px;
}
.col-mid p{
    height: 198px;
}
.col-mid p i{
    margin-bottom: 25px;
}
.col-mid button{
    width: 156px;
}

.col-mid .fr {
    float: right;
}
.col-mid img{
    width: 572px;
    height: 289px;  
    margin-top:23px;
}
/*  CEO资讯 end  */

/* 资讯和要点 start  */
.four-col-container {
    height: 437px;
    box-sizing: border-box;
}
.four-col-container h2{
    margin: 15px 0 36px;
}
.four-col-container img{
    width: 276px;
    height: 155px;
}
.four-col-container a{
    display: block;
}
.four-col-container h4 a{
    font-size: 23px;
    font-weight: 200;
    padding: 18px 0;
}
.four-col-container p{
    margin-bottom: 25px;
}
.four-col-container ul li{
    width: 276px;
    float: left;
    padding: 0 10px;
}
.four-col-container ul li:first-child{
    margin-left: -10px;
}
.four-col-container ul li:last-child{
    margin-right: -10px;
}
/* 资讯和要点 end  */

/* 体验VMware Cloud start */
.row {
    height: 294px;
    margin-top: 50px;
}
.block1 {
    width:671px;
    float: left;
}
.row img{
    width: 473px;
    height: 273px;
    float: right;
}
.block1 h2 {
    color: #1D428A;
    margin-bottom: 37px;
}
.block1 h2:hover{
    color: #0091da;
}
.block1 button{
    width: 193px;
    margin-top: 25px;
}
/* 体验VMware Cloud end */


/* 客户案例 start */
.customer{
    height: 552px;
}
.image-wrapper {
    background: url("../images/vmw-cust-story-chow-sang-sang.jpg") no-repeat;
    height: 500px ;
    background-size: cover;
}
.content-wrapper {
    width: 506px;
    height: 500px;
    background: linear-gradient(to right, #545454, 80%, #363636);
    float: left;
    padding: 70px 40px 0;
    box-sizing: border-box;
}
.content-wrapper h2{
    color: #fff;
    margin-bottom: 25px;
}
.content-wrapper p {
    color: #fff;
}
.content-wrapper button {
    margin-top: 25px;
    color: #fff;
    background-color: #545454;
    border: 1px solid #fff;
    width: 86px;
}
.content-wrapper button:hover {
    background-color: #1d428a;
    border: none;
}
.content-wrapper img{
    width: 132px;
    height: 66px;
    display: block;
    margin-top: 35px;
}
.customer a{
    display: block;
    margin: 15px 0;
    width: 100%;
    text-align: center;
}
/* 客户案例end */

/* 技术文章  start */
.article {
    height: 700px;
    position: relative;
    padding-top: 20px;
    margin-bottom: -7px;
}
.article .article-content {
    position: absolute;
    width: 563px;
    height: 448px;
    padding: 150px 0;
    top: 0;
    left: 60px;
}
.article-content h2{
    margin-bottom: 10px;
}
.article-content p{
    padding-bottom: 20px;
}
.article-content button {
    width: 230px;
}
/* 技术文章  end */ 

/* 下面的水平线 */
.b-br img{
    margin-top:0px;
}
/* footer start */
footer {
    padding: 25px 0 35px 0;
}
footer .logo{
    height: 69px;
    padding: 23px 0 25px 0;
    box-sizing: border-box;
}

.ft-links li a {
    color: #565656;
    font-size: 20px;
    float: left;
    padding-right: 50px;
    font-weight: 400;
}
.ft-links li a:hover{
    color: #0091da;;
}
.fb-links {
    margin-top: 45px;
}
.fb-links li{
    float: left;
    color: #565656;
    font-size: 16px;
    float: left;
    padding-right: 20px;
}
.fb-links li a{
    color: #565656;
}
.fb-links li a:hover{
    color: #0091da;;
}

/* footer end */